In [1]:
# Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
# you have collected data on the amount of time students spend studying for an exam and their final exam
# scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame({'studying_time' : [4, 6, 3, 7, 5, 8, 6, 7, 9, 10],
'exam_scores': [75, 82, 60, 85, 78, 90, 81, 88, 92, 95]})

In [5]:
df.corr(method='pearson')

               studying_time  exam_scores
studying_time       1.000000     0.948491
exam_scores         0.948491     1.000000

In [6]:
# Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
# Suppose you have collected data on the amount of sleep individuals get each night and their overall job
# satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
# variables and interpret the result.

In [7]:
df=pd.DataFrame({'spleep_hours' : [6, 7, 5, 8, 6, 7, 8, 5, 6, 9],
'job_satisfaction': [7, 6, 4, 8, 5, 9, 8, 3, 6, 9]})

In [8]:
df.corr(method='spearman')

                  spleep_hours  job_satisfaction
spleep_hours          1.000000          0.868818
job_satisfaction      0.868818          1.000000

In [10]:

# Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
# exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
# for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
# between these two variables and compare the results.

In [14]:
exercise_hours=  [25.1, 26.5, 27.8, 28.3, 26.0, 25.5, 29.2, 30.1, 28.7, 27.0, 26.3, 31.5, 29.6, 27.8,
       26.5, 32.7, 30.8, 28.9, 26.7, 33.5, 31.1, 29.4, 27.2, 34.2, 32.2, 30.5, 28.4, 35.0,
       32.8, 30.2, 27.8, 35.8, 33.3, 31.7, 29.9, 36.5, 34.0, 32.0, 30.0, 37.2, 34.7, 32.5,
       30.6, 38.0, 35.4, 33.0, 31.0,33.0,31.1, 29.4]
len(exercise_hours)

50

In [15]:
df=pd.DataFrame({'exercise_hours':  [3, 4, 2, 5, 3, 6, 4, 7, 5, 8, 6, 9, 7, 10, 8, 11, 9, 12, 10, 13,
                                    11, 14, 12, 15, 13, 16, 14, 17, 15, 18, 16, 19, 17, 20, 18, 21, 19, 22, 20,
                  23, 21, 24, 22, 25, 23, 26, 24, 27, 25,24],
'bmi': [25.1, 26.5, 27.8, 28.3, 26.0, 25.5, 29.2, 30.1, 28.7, 27.0, 26.3, 31.5, 29.6, 27.8,
       26.5, 32.7, 30.8, 28.9, 26.7, 33.5, 31.1, 29.4, 27.2, 34.2, 32.2, 30.5, 28.4, 35.0,
       32.8, 30.2, 27.8, 35.8, 33.3, 31.7, 29.9, 36.5, 34.0, 32.0, 30.0, 37.2, 34.7, 32.5,
       30.6, 38.0, 35.4, 33.0, 31.0,33.0,31.1, 29.4]})

In [18]:
df.corr(method='pearson')

                exercise_hours       bmi
exercise_hours        1.000000  0.692302
bmi                   0.692302  1.000000

In [19]:
df.corr(method='spearman')

                exercise_hours       bmi
exercise_hours        1.000000  0.699322
bmi                   0.699322  1.000000

In [29]:
# Q4. A researcher is interested in examining the relationship between the number of hours individuals
# spend watching television per day and their level of physical activity. The researcher collected data on
# both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
# these two variables.

In [27]:
df=pd.DataFrame({'tv_hours_per_day' : [2, 3, 4, 1, 5, 2, 6, 3, 4, 2, 7, 1, 3, 5, 2, 4, 6, 3, 5, 1,
                    2, 4, 1, 3, 5, 2, 6, 1, 4, 2, 7, 3, 5, 2, 4, 6, 1, 3, 5, 2,
                    7, 4, 6, 3, 5, 1, 2, 4],

'physical_activity_level': [3, 2, 2, 4, 1, 3, 1, 2, 2, 3, 1, 4, 2, 1, 3, 2, 1, 2, 1, 4,
                            3, 2, 4, 2, 1, 3, 1, 4, 2, 3, 1, 2, 1, 3, 2, 1, 4, 3, 2,
                            1, 4, 2, 1, 3, 2, 4, 1, 3]})

In [28]:
df.corr(method='pearson')

                         tv_hours_per_day  physical_activity_level
tv_hours_per_day                 1.000000                -0.713767
physical_activity_level         -0.713767                 1.000000

In [31]:
# Q5. A survey was conducted to examine the relationship between age and preference for a particular
# brand of soft drink. The survey results are shown below:

correlation can not be found out between Continuous and Categorical Variable

In [30]:
# Q6. A company is interested in examining the relationship between the number of sales calls made per day
# and the number of sales made per week. The company collected data on both variables from a sample of
# 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [35]:
df=pd.DataFrame({'sales_calls_per_day': [20, 22, 25, 18, 21, 19, 23, 17, 16, 24, 22, 20, 18, 19, 21, 20, 25, 22, 23, 18,
                        20, 17, 19, 26, 22, 24, 23, 21, 20, 18],

'sales_per_week': [100, 110, 120, 90, 105, 95, 115, 85, 80, 125, 110, 100, 90, 95, 105, 100, 120, 110, 115, 90,
                  100, 85, 95, 130, 110, 125, 115, 105, 100, 90]})

In [36]:
df.corr(method='pearson')

                     sales_calls_per_day  sales_per_week
sales_calls_per_day             1.000000        0.989968
sales_per_week                  0.989968        1.000000